<ngx-spinner type="ball-scale-multiple">

</ngx-spinner>
<div class="container">
    <div class="container">
        <div class="row pt-4 pb-2">
            <div class="col-6">
                <h2 class="text-dark">Category List</h2>
            </div>
            <div class="col-6 text-end">
                <a (click)="onAddCategoryClick()" class="btn btn-dark">Create new Category</a>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Display Order</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td>{{category.displayOrder}}</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a (click)="onEditCategory(category.id)" class="btn btn-primary mx-2"><i
                                class="bi bi-pencil-square"></i>Edit</a>
                        <a (click)="onDeleteCategory(category.id)" class="btn btn-danger mx-2"><i
                                class="bi bi-trash3"></i>Remove</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>